/**********************************
Main Body
***********************************/

body {
    font-family: "Arial";
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

#logo {
    text-align: center;
    margin: 0;
}

.second{
    background-color:#babca4;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color:#729482;;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
  }

img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: #343434;
}

a:hover{
    color: #dcdcdc;
}


.theImage{
    width: 1%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}



/**********************************
FONTS
***********************************/

/**********************************
NAVIGATION
***********************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    font-size: auto;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {

    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 0.7em;
}

nav a {
    font-weight: 700i;
    font-family: 'Arial';
    padding: 15px 10px;
}



/**********************************
HEADING
***********************************/

header {
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
    height: 85px;
}


h1 {
    font-family: 'Altavista';
    color: #dcdcdc;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
    text-align: center;
    margin-top: 25px;

}

h2 {
    text-align: center;
    font-family: 'Arial';
    font-size: 2em;
    font-weight: normal;
    color: #000;
}

h2.color {
    text-align: center;
    font-family: 'Arial';
    font-size: 2.5em;
    font-weight: normal;
    color: #000;
}


h3{
    text-align: center;
    font-family: 'Arial';
    font-size: 1.3em;
    font-weight: normal;
    color: #000;
}

h3.color{
    text-align: center;
    font-family: 'Arial';
    font-size: 2em;
    font-weight: normal;
    color: #000;
}

h4 {
    font-family: 'Loguetown';
    font-size: 1.75em;
    margin: 45px auto;
    font-weight: normal;
    color: #505050;
}

h5 {
    font-family: 'Lato';
    font-size: 1.35em;
    margin: 15px;
    font-weight: normal;
    color: #505050;
}

h6 {
        font-family: 'Lato';
    font-size: 1em;
    margin: 15px auto;
    font-weight: normal;
    color: #505050;
}

h7{
    font-weight: bolder;
}
/**********************************
GALLERY
***********************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    padding: 0px 20px;
    margin: 40px 30px 40px 30px;
    text-align: center;
}

  

footer{
    display: block;
}

/**********************************
COLORS



#729482 darkest green
#babca4 lighter green
#dcd8af yellow green


***********************************/




/* site body */

body {
    background-color: #789786;
}

/* header color */

header {
    background: #acac95;
}

/* nav background on mobile */



/* links/logo */

/* nav link */

nav a,
nav a:visited {
    color: #000;
}

/* selected nav link

Color? = rgb(92, 91, 91);

*/

nav a.selected,
nav a:hover {

    color: #5a5252;

}


#faqQ, #faqA{
    width:35%;
    margin-left:30px;
    line-height: 25px;
    background-color:gray;
    padding: 10px;
    border-radius:20px;
    float:left;
}

#faqQ{
    background-color: #bcd1c6;
    padding-top:2px;
    box-shadow: 5px 5px 5px darkslategray;
}

#faqA{
    background-color: #acac95;
    padding-top: 2px;
    box-shadow: -5px 5px 5px darkslategray;
    margin-left:25%;
}


#questionTail{
    width:0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #729482;
    margin-left:-35px;
    margin-top:15px;
}

#answerTail{
    width:0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fdfced;
    margin-right:-35px;
    margin-top:15px;
}


speechtextQ, #speechtextA {
    width:auto;
    float:right;
    
}

#speechtextQ {
    margin: 15px;
}

#speechtextA {
    margin: 15px;
    
}

.title{
    border:2px solid gray;
    border-radius:20px;
}

.faq {
    margin:0px;
}


img, defaultImage{
    float:left;
    width: 50px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
}



.defaultImages{
    float:left;
    width: 50px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius:50%;
    border:3px solid #729482;
}

.row {
    float:left;
    width:100%;
    margin:auto;
    margin-top:50px;
    padding-left: 13%;
    align-items: center;
}

#row1 {
    float:left;
    width:100%;
    margin:auto;
    margin-top:50px;
    align-items: center;
}
form {
    background-color: #d9dfdb;
    width: 50%;
    height: 44px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: auto;
  }
  
  input {
    all: unset;
    font: 16px system-ui;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    
  }

  ::placeholder {
    color: #505050;
    opacity: 0.7; 
  }

  button {
    all: unset;
    cursor: pointer;
    width: 130px;
    height: auto;
  }
  
  


/**********************************
FOOTER
***********************************/

footer {
    font-size: 1.2em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #343434;
    float: left;
    margin: 0 0 30px 0;
    padding: 30px;
    width: 100%;
}

.text{
    color: black;
}